#centered {
    margin: 0 auto;
    width: 30%;
}

#newTask {

}

#saveTasks {

}

#footer {
    text-align: center;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

li {
    list-style-type: none;
}

input {
    display: inline;
}